body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #57a8bd;
  margin: 0;
  padding: 20px;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

.search-container {
  margin-bottom: 20px;
}

#pokemon-input {
  padding: 10px;
  font-size: 16px;
  width: 220px;
  border: none;
  border-radius: 5px;
}

#search-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#show-all-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

#pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 300px;
}

.pokemon-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  padding: 20px;
  text-align: center;
}

.pokemon-image {
  width: 120px;
  height: 120px;
}

.pokemon-name {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  text-transform: capitalize;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.type {
  padding: 6px 12px;
  border-radius: 20px;
  margin: 0 5px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.stats {
  text-align: left;
  margin-top: 10px;
}

.stat {
  margin: 5px 0;
}
.pokemon-card {
  cursor: pointer;
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-detail-card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.detail-image {
  width: 180px;
}

#back-btn {
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.evolution-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.evolution-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #22b622;
  color: white;
  font-weight: bold;
}
#evolution-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.evolution-card {
  width: 150px;
}
